﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="container">
    <div id="container-mesgs">
 
        @if (Model.messages.Count() == 0){
            <div id="empty-state">
                <h4>There are no Messages</h4>
            </div>
        }
        @foreach (var item in Model.messages)
        {
            <div class="mesg">
                <span>@item.user.fullName</span>
            <p>
                @item.content
            </p>
            </div>
        }
    </div>
    <div id="container-input" class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <input type="text" id="mesgTextBox" class="form-control" placeholder="Enter message">
            </div>
            <div class="col col-lg-1">
                <button type="buton" id="sendButton" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
<style>
    html, body, #container{
        height: 100%;
        margin: 0;
    }
    #container-mesgs{
        height: calc(100% - 50px);
        overflow-y: scroll;
    }
    .mesg{
        max-width: 500px;
        text-align: right;
        float: right;  
        clear: both; 
        padding-right: 25px;
    }
    .mesg span{
        font-size: 12px
    }
    #empty-state{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
 
</style>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script>
    initializeSignalR("@Model.accessToken")
</script>