﻿@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <form method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control"  asp-for="signIn.userName" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" asp-for="signIn.password" placeholder="Password" required>
        </div>
        <button type="submit" asp-page-handler="SignIn" class="btn btn-primary">Sign in</button>
        @Model.messageSingIn
      </form>
    </div>
    <div class="col col-lg-4">
      <form method="POST">
       <div class="form-group">
          <label for="exampleInputEmail1">Full name</label>
          <input type="text" class="form-control" asp-for="signUp.fullName" aria-describedby="emailHelp" placeholder="Enter Full Name" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" asp-for="signUp.userName" aria-describedby="emailHelp" placeholder="Enter Username" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" asp-for="signUp.password" placeholder="Password" required>
        </div> 
        <button type="submit" asp-page-handler="SignUp" class="btn btn-primary">Sign up</button>
        
        @Model.messageSingUp
      </form>
    </div>
  </div>
</div>